
<ion-header>
  <ion-navbar>
    <ion-title>Questionaires</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-button type="submit" color="danger" expand="block" shape="round" size="small" [routerLink]="['/multiplechoice']"> multiple choice one 
 </ion-button>
 <ion-button type="submit" color="danger" expand="block" shape="round" size="small">pick a box </ion-button>
 <ion-button type="submit" color="danger" expand="block" shape="round" size="small">multiple choice one</ion-button>
 <ion-button type="submit" color="danger" expand="block" shape="round" size="small">multiple choice one</ion-button>
 <ion-button type="submit" color="danger" expand="block" shape="round" size="small">multiple choice one</ion-button>
 <ion-button type="submit" color="danger" expand="block" shape="round" size="small">multiple choice one</ion-button>
</ion-content>
